<html>

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="saurin" content="A mongoDB project">

<title> saurin </title>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/gride-responsive-min.css">

<link rel="stylesheet" href="/combo/1.17.16?/css/layouts/marketing.css">

</head>
<body>

<div class="content-wrapper">
  <h2 class="content-head is-center">Login</h2>

  {% with msgs = get_flashed_messages() %}
  {% if msgs %}
  {%- for msg in msgs %}
  <div class="alert alert-info">
    {{ msg }}
  </div>
  {% endfor -%}
  {% endif %}
  {% endwith %}

    <div class="pure-g">
	<form method="POST" class="pure-form pure-form-stacked">
	  <fieldset>

	    <label for="user">User Name</label>
	    <input type="text" name="uname"  placehold="Username">

	    <label for="pword">Password</label>
	    <input type="text" name="pw" placehold="********">

	    <button type="submit" class="pure-button">Login</button>
	  </fieldset>
	</form>
     </div>
</div>

</body>
</html>
