<html>

<head>

  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meat name="saurin" content="A mongoDB project">

  <title> saurin </title>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/gride-responsive-min.css">

<link rel="stylesheet" href="/combo/1.17.16?/css/layouts/marketing.css">

</head>
<body>

<div class="header">
  <div class="home-menu pure-menu pure-menu-open pre-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href="">saurin</a>

    <ul>
      <li class="pure-menu-selected"><a href="/">Home</a></li>
    </ul>
  </div>
</div>

<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">saurin</h1>
    <p class="splash-subead">
      just a small little mongoDB project
    </p>
    <p>
      <a href="/login" class="pure-button pure-button-primary">Login!</a>
      <a href="/register" class="pure-button pure-button-primary">Register!</a>
    </p>
  </div>
</div>

</body>

</html>
